

#sidebar {
  font-family: 'Verdana', sans-serif;
  display: flex;
  flex-flow: column;
  height: 100%;
  padding-right: 2px;
  -webkit-user-select: none;
  flex: 1;
	max-width: 30% !important;
	width: 20%;
  position: fixed;
  left: 0;
  top: 0;
}


/* control buttons */

#controls {
  display: flex;
  flex-wrap: wrap;
}
.dropdown-menu button{
  width: 100%;
  padding-right: 10px;
}

.icon-sw-highlighter{
  background: url('/css/icon/highlight.ico') no-repeat center center;
  background-size: 18px 18px;
}

#showround{
  background: url('/css/icon/dslogo.png') no-repeat center center;
}




/*search box*/

#searchtext {
    width: 100%;
    visibility: hidden;
    height: 26px;
}
#searchtext+.select2{
  width: 100% !important;
}

#team-members-select+.select2{
  width: 100% !important;
}


#share-select+.select2{
  width: 100% !important;
}


#controls .select2-results__message {
  visibility: hidden;
    line-height: 0pt;

}

#controls .select2-results__message:after {
  content:'Search titles, headings, full text, shared, and speeches';
  visibility: visible;
  display: block;
    line-height: 12pt;
}




/*login button*/
#login {
  background: #d9534f url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABqElEQVRYw+2WzyuEQRjH3yhRIkpSXJTyP3BwFClxc3Fw2L04aw8cFMJBKaUkbEkOUtK27WHlsiUODsJh/cgeJO8BkSX29Z36vjU0Y+V9h7betz6H7XnfeT47M88zYzmOY/0nViAQCBSKQCkYB4fgBrw5nx8bhE0JNIMrsA7KSZSJX0G/yRkoBmn+66IvsX1KPIAqUwKDTLKriPVKSzBsSiDGBAeKmJiRR8ZXTAnsMMGtJn7G+LQpgVlpmrs1AjnQqvl+DmS8CNRxk4nnnBXgxmpAFmx+8/0aePZahu3gnhKiIgZAiEIJVopRAUE1iLD+jylzB8oU70bZmGwmz0m/bT9acUKq/1pFfAjESYZdMy7hWWBC2pinoP4vlqAE9IAxsAreJYlr0GhKoBIsc7r3wCQ7YCc4kiTSms0oliP5W4EGruELE6pmZUuS6PO7EW1z4Pk8g6T43ozfAm4DCv3wwBrxWyDLgRfyDBJhqTX5LZCkgBDp0rxTwY64aOIwEufABSXcZiKuXW2gA4xyky6ZvBGJVjsFTnj2i7b6BC7BBmgJruWBQMELfAB3Z3TRjcKyZwAAAABJRU5ErkJggg==') no-repeat center left;
}
