/* top-level */
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 11pt;
  display: flex;
  flex-direction: row;
	/*font-family: 'Open Sans', 'Verdana', sans-serif;*/
}

/*important whether body is scrolled or if its just the doc panel with its own scrollbar*/
html{
      height: 100%;
}
/*scrollbar chrome*/

body ::-webkit-scrollbar,
#docs ::-webkit-scrollbar,
#filetree ::-webkit-scrollbar,
.speech ::-webkit-scrollbar {
  width: 10px;
}
body ::-webkit-scrollbar-thumb,
#docs ::-webkit-scrollbar-thumb,
#filetree ::-webkit-scrollbar-thumb,
.speech ::-webkit-scrollbar-thumb {
  background: rgb(170, 207, 231);
}




/* mobile overides */


@media only screen and (min-device-width: 600px) {
  iframe[src^="https://apis.google.com"] {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  #speech-nav-container {
    flex-wrap: wrap;
  }
  #round-navbar{
    max-height: none;;
  }
}



/*loading spinner*/

.glyphicon-spin {
    -webkit-animation: spin 2000ms infinite linear;
    animation: spin 2000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
